 .grid {
    border: 1px solid;
    height: 120px;
    width: 140px;
    display: flex;
    flex-wrap: wrap;
  }
  
  .grid div {
    height: 20px;
    width: 20px;
  }
  
  .player-one {
    background-color: #ff6666;
    border-radius: 10px;
  }
  
  .player-two {
    background-color: #6666ff;
    border-radius: 10px;
  } 

h1 {
    color: #333;
}

h3 {
    color: #555;
    margin-bottom: 10px;
}